@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.wrapper::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.wrapper {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.header-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.footer-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.background, .foreground {
  position: absolute;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.background {
  width:100%;
  object-position: 44% 50%;
  transform: translateZ(-10px) scale(2);
}

.background-2 {
  width:62%;
  transform: translateZ(-5px) scale(1.5);
}

/* .foreground {
  width: 50%;
  transform: translateZ(-5px) scale(1.5);
} */

/* .foreground-L {
  transform: translateX(-0px);

  left: 0;
}

.foreground-R {
  transform: translateX(+0px);

  right: 0;
} */